.tableContent {
  display: flex;
  background-color: black;
  justify-content: center;
}

table {
  background-color: rgb(202, 50, 50);
  border: black solid 1px;
  display: flex;
  flex-direction: column;
  height: auto;
  position: absolute;
  text-align: center;
  align-items: center;
  justify-content: center;
  top: 180px;
  width: 95%;
  margin: 0 auto;
}

thead {
  border: black solid 1px;
  text-align: center;
  width: 100%;
}

tbody {
  align-items: center;
  border: black solid 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
}

tr {
  align-items: center;
  background-color: azure;
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
}

th , td {
  align-items: center;
  align-self: center;
  border: black solid 1px;
  display: flex;
  height: 50px;
  justify-content: center;
  text-align: center;
  width: 100%;
}


th {
  background-color: black;
  color: white;
  font-size: 14px;
}

td {
  font-size: 13px;
  width: 100%;
}
